# -----------------------------------
# Python Cache Files
# -----------------------------------

__pycache__/
*.py[cod]
*$py.class

# -----------------------------------
# Virtual Environment
# -----------------------------------

venv/
env/
ENV/

# -----------------------------------
# Jupyter Notebook Checkpoints
# -----------------------------------

.ipynb_checkpoints/

# -----------------------------------
# VS Code Settings
# -----------------------------------

.vscode/

# -----------------------------------
# PyCharm Files
# -----------------------------------

.idea/

# -----------------------------------
# Mac System Files
# -----------------------------------

.DS_Store

# -----------------------------------
# Streamlit Cache
# -----------------------------------

.streamlit/

# -----------------------------------
# Environment Variables
# -----------------------------------

.env

# -----------------------------------
# Temporary Files
# -----------------------------------

*.log
*.tmp

# -----------------------------------
# SQLite Database
# -----------------------------------

*.db
*.sqlite3

# -----------------------------------
# Generated Python Files
# -----------------------------------

dist/
build/
*.egg-info/

# -----------------------------------
# Ignore Large Generated Outputs
# -----------------------------------


# Uncomment below if you want to upload outputs/reports
# !outputs/
# !reports/